<h1 class="text-center">Editing Vaccination Center</h1>

<%= render 'form', vaccination_center: @vaccination_center %>

<%= link_to 'Show', @vaccination_center %> |
<%= link_to 'Back', vaccination_centers_path %>
